<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./templates/header.ejs')%>
</head>

<body>
    <%-include('./navegation.ejs')%>
        <div class="container-fluid ps-md-0">
            <div class="row g-0">
                <div class="d-none d-md-flex col-md-5 col-lg-6 bg-image" style="background-color: aquamarine;"></div>
                <div class="col-md-5 col-lg-6">
                    <div class="login d-flex align-items-center py-4"  >
                        <div class="container"  >
                            <div class="row" >
                                <div class="col-md-10 col-lg-11 mx-auto" style="background-color: antiquewhite;">
                                    <center>
                                        <h3 class="login-heading mb-4">Bienvenido</h3>
                                    </center>
                                    <h3 class="login-heading mb-4"> parroquia de nuestra señora de la medalla milagrosa
                                        del municipio de Santa María Boyacá</h3>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>