<header class="p-3 bg-dark text-white">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/img/aa.png" width="auto" height="auto" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Ventas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/inventory">Inventario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addproducts" id="addProductLink">
                  Agregar Producto
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Sales">Vendido</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>